.footer {
  margin: 90px 0 82px;
  @include respond(medium) {
    margin: 60px 0 30px;
  }
  &__link__logo {
    width: 168px;
    height: 44px;
  }
  &_container {
    padding: 0 164px 0 159px;
    @include respond(xl) {
      padding: 0 80px;
    }
    @include respond(large) {
      padding: 0 30px;
    }
  }
  &__row {
    display: flex;
    @include respond(small) {
      flex-wrap: wrap;
    }
    &__col {
      &__first {
        margin-right: auto;
        padding-right: 25px;
      }
      &__three {
        margin-right: 88px;
        white-space: nowrap;
        @include respond(large) {
          margin-right: 35px;
        }
        @include respond(small) {
          margin-top: 30px;
          margin-right: 50px;
        }
        &:last-child {
          margin-right: 0;
          @include respond(small) {
            margin-right: 60px;
          }
        }
      }
      &__text {
        margin: 11px 0 37px;
        max-width: 309px;
        padding-left: 7px;
        @include respond(small) {
          max-width: 100%;
          margin: 15px 0 20px;
        }
      }
      &__social {
        margin-left: 7px;
        &__links {
          margin-right: 25px;
          font-size: 25px;
          text-decoration: none;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &__title {
        margin-bottom: 18px;
        padding-top: 8px;
        &__subtext {
          margin-bottom: 13px;
          &:last-child {
            margin-bottom: 0;
          }
          &__link {
            text-decoration: none;
            font-size: 14px;
            line-height: 27px;
            letter-spacing: 0.5px;
            color: $color-text;
          }
        }
      }
    }
  }
}

.fa-square-facebook {
  color: #4267b2;
  transition: all 0.4s ease;
  &:hover {
    color: #3b5998;
  }
}

.fa-twitter {
  color: #1da1f2;
  transition: all 0.4s ease;
  &:hover {
    color: #00b6f1;
  }
}

.fa-youtube {
  color: #ff0000;
  transition: all 0.4s ease;
  &:hover {
    color: #3b5998;
  }
}

.fa-linkedin-in {
  color: #006699;
  transition: all 0.4s ease;
  &:hover {
    color: #3b5998;
  }
}
