.cards {
  padding: 59px 0;
  @include respond(small) {
    margin-bottom: 10px;
  }
  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(large) {
      flex-direction: column;
      align-items: flex-start;
    }
    &__title {
      max-width: 454px;
      @include respond(large) {
        max-width: 100%;
        font-size: 25px;
        line-height: 40px;
      }
    }
    &__text {
      max-width: 398px;
      @include respond(large) {
        max-width: 100%;
        margin-top: 20px;
      }
    }
  }
  &__list {
    display: flex;
    @include respond(large) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      background: #ffffff;
      border-radius: 0px 0px 5px 5px;
      filter: drop-shadow(0px 10px 52px rgba(0, 0, 0, 0.08));
      width: 350px;
      margin: 58px 30px 0 0;
      position: relative;
      &:nth-child(n + 2) {
        filter: none;
      }
      &:last-child {
        margin-right: 0;
      }
      &__video {
        max-width: 350px;
        max-height: 204px;
        width: 100%;
      }
      &__image {
        width: 100%;
      }
      &__text {
        margin: 31px 29px 23px;
      }
      &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.6px;
        color: $color-text;
        padding-left: 29px;
      }
      &__city {
        color: $color-orange;
        padding: 0 0 30px 29px;
        &--color {
          color: #58bebf;
        }
      }
      &__svg {
        width: 80px;
        height: 80px;
        position: absolute;
        top: -40px;
        right: -40px;
        animation: rotation 30s infinite linear;
        @include respond(medium) {
          right: 0;
          @keyframes rotation {
            from {
              transform: rotate(0);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
