.btn {
  background: $color-orange;
  border-radius: 29px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 18px 37px 16px;
  border: 0;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
